[submodule "native/llama.cpp"]
	path = native/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "native/whisper.cpp"]
	path = native/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "native/stable-diffusion.cpp"]
	path = native/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "native/paddleocr"]
	path = native/paddleocr
	url = https://github.com/PaddlePaddle/PaddleOCR.git
[submodule "native/hyperlpr3"]
	path = native/hyperlpr3
	url = https://github.com/szad670401/HyperLPR.git
[submodule "native/mnn"]
	path = native/mnn
	url = https://github.com/alibaba/MNN.git
[submodule "native/opencv"]
	path = native/opencv
	url = https://github.com/opencv/opencv.git
