<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishAot>false</PublishAot>
    <TomurReleaseProfile>self-contained-single-file</TomurReleaseProfile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>
    <InvariantGlobalization>true</InvariantGlobalization>
  </PropertyGroup>
</Project>
